// 共通部分のインポート
@import "./variables";

body {
  background-color: #04a6eb;
  color: $white;
}

h1 {
  display: flex;
  align-items: center;
  font-size: $font-nomal;
  color: $white;

  &:before {
    content: "";
    background: url("../images/icon.png") no-repeat;
    background-color: #04a6eb;
    background-size: 100%;
    display: block;
    margin-right: 5px;
    width: 18px;
    height: 18px;
  }
}

.face {
  color: black;
}
