// 共通部分のインポート
@import "./variables";

body {
  margin: 10px;
  display: flex;
}

#reversi {
  background-color: darkgray;
  vertical-align: bottom;
}

.canvas {
  border: 7px solid burlywood;
}

.side {
  margin-left: 10px;
}

h1 {
  display: flex;
  align-items: center;
  font-size: $font-nomal;
  color: $white;

  &:before {
    content: "";
    background: url("../images/icon.png") no-repeat;
    background-color: #04a6eb;
    background-size: 100%;
    display: block;
    margin-right: 5px;
    width: 18px;
    height: 18px;
  }
}

.face {
  color: black;
}
